{% if list_of_documents%}
    <div class="documents-table-wrp">
        <table class="table">
            <thead>
                <tr>
                    <th class="first"></th>
                    <th class="second">id</th>
                    <th class="third">category</th>
                    <th class="fourth">new category</th>
                    <th class="fifth"></th>
                    <th class="sixth"></th>
                </tr>
            </thead>
        {% for item in list_of_documents %}

            <tbody>
                <tr>
                    <td class="first">{{ loop.index }}</td>
                    <td class="second">{{item['_id']}}</td>
                    <td class="third">{{item['category']}}</td>
                    <td class="fourth">{{item['potential_new_category']}}</td>
                    <td class="fifth"><button class="edit-btn">edit</button></td>
                    <td class="sixth"><button class="delete-btn">delete</button></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
{% else %}
    {% if date_obj %}
        <!-- <p>No updated information available for the selected date range {{ date_obj['start_date']}} - {{ date_obj['end_date'] }}.</p> -->
        <p>В БД відсутні записи за обраний період часу: {{ date_obj['start_date']}} - {{ date_obj['end_date'] }}.</p>
    {% endif %}
{% endif %}