$text-color: rgb(246, 246, 246);
$background-color: rgb(30, 30, 30);
$background-accent-color: rgb(49, 49, 49);
$main-color: rgb(200, 207, 158);
$main-color-shadow: darken($main-color, 20%);
$main-accent-color: lighten($main-color, 20%);

$red-naomi: #5B0E1B;
$avalanch: #E9E3C9;
$kimberli: #DEA27F;
$pich-avalanch : #F09C47;
$miss-piggi: #EA817D;
$miss-piggi-shadow: darken($miss-piggi, 20%);
$el-toro: #B43D43;
$red-igl: #84181C;
$akva: #C95390;
$penni-lejn: #F0B031;
$prints-percii: #993758;
$beluga: #D9DAC9;

$penni-lejn: #F0B031;
$penni-lejn-shadow: darken($penni-lejn, 20%);



$с01: #5B0E1B;
$с02: #E9E3C9;
$с03: #DEA27F;
$с04: #F09C47;
$с05: #EA817D;
$с06: #B43D43;
$с07: #84181C;
$с08: #C95390;
$с09: #F0B031;
$с10: #993758;
$с11: #D9DAC9;
